.skills-list {
  display: flex; 
  align-items: center;
}

.skills-list li{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70px;
  width: 100px;
}

.skills-list li img {
  width: 60px;
  height: 60px;
}

.skills-list li span {
  margin-top: 5px;
}

header.masthead {
  background: url('../img/nyc.jpeg');
  background-size: cover;
}

.masthead img {
  width: 200px;
  border-radius: 100%;
}

#mainNav {
  background: rgba(0,0,0,0.5);
}

.container h2 {
  margin-bottom: 20px;
}

#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(0,0,0,0.5);
}

/*.nav-item a:hover {
  color: lightgray !important;
}*/

/*section.success {
  background: gray;
}*/

.modal-body img {
  margin-top: 20px;
}