.skills-list {
  display: flex; 
  align-items: center;
}

.skills-list li{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70px;
  width: 100px;
}

.skills-list li img {
  height: 60px;
}

.skills-list li span {
  margin-top: 5px;
}

header.masthead {
  background: url('../img/rio.jpg');
  background-size: cover;
}

.masthead img {
  width: 200px;
  border-radius: 100%;
}

.about-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#about img {
  width: 200px;
  margin-bottom: 20px;
}

#mainNav {
  background: rgba(0,0,0,0.5);
}

.container h2 {
  margin-bottom: 20px;
}

#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(0,0,0,0.5);
}

.modal-body img {
  margin-top: 20px;
}

.modal-body a {
  color: blue;
}

@media (max-width: 767px) {
  .skills-list {
    flex-direction: column;
  }

  .skills-list > * {
    margin-top: 30px;
  }
}
